<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-ru" xml:lang="ru-ru">
    <head>
        {% set right_bar = 'false' %}
        {% set left_bar = 'false' %}
        {% block title %}{% endblock %}
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta content="index, follow" name="robots">
        <meta content="ru-RU" name="language">
        {% block meta %}{% endblock %}
        {% block css %}<link href="{{ asset('/css/style.css') }}" type="text/css" rel="stylesheet">{% endblock %}
        <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo"><a class="logo" href="{{ path('public_index') }}"></a></div>
                <div id="header_background"></div>
            </div>
            <div id="nav">
                <ul>
                    <li
                            {% if app.request.attributes.get('_route') == 'public_no_driver' %}
                                class="selected"
                            {% endif %}
                            ><a href="{{ path('public_index') }}"><i>Прокат автомобиля</i></a></li>
                    <li
                            {% if app.request.attributes.get('_route') == 'public_with_driver' %}
                                class="selected"
                            {% endif %}
                            ><a href="{{ path('public_with_driver') }}"><i>Трансфер до аэропорта</i></a></li>
                    <li
                            {% if app.request.attributes.get('_route') == 'public_procession' %}
                            class="selected"
                            {% endif %}
                            ><a href="{{ path('public_procession') }}"><i>Автомобили на свадьбу</i></a></li>
                    <li
                            {% if app.request.attributes.get('_route') == 'public_cars' %}
                            class="selected"
                            {% endif %}
                            ><a href="{{ path('public_cars')}}"><i>Парк автомобилей</i></a></li>
                    <li
                            {% if app.request.attributes.get('_route') == 'public_conditions' %}
                            class="selected"
                            {% endif %}
                            ><a href="{{ path('public_conditions') }}"><i>Условия аренды</i></a></li>
                    <li
                            {% if app.request.attributes.get('_route') == 'public_contacts' %}
                            class="selected"
                            {% endif %}
                            ><a href="{{ path('public_contacts') }}"><i>Контакты</i></a></li>
                </ul>
            </div>
            <div id="page">
                {% if left_bar == 'true'%}
                    <div id="left_bar">
                    </div>
                {% endif %}
                    <div id="middle_bar"
                        {% if (left_bar == 'true') and (right_bar == 'true') %}
                           style="width:580px; float:left;"
                        {% else %}
                           {% if (left_bar == 'true') or (right_bar == 'true') %}
                               style="width:780px; float: left;"
                           {% endif %}
                        {%endif%}>
                        {% block middle_bar %}

                        {% endblock %}
                    </div>
                {% if right_bar == 'true' %}
                    <div id="right_bar">

                    </div>
                {% endif %}
            </div>
            <div id="footer">

            </div>
        </div>

    </body>
</html>
